* {
    padding: 0;
    margin: 0;
    font-size: 20px;
}

body {
    color: #ccc;
    background: #111;
}

.titulosh {
    font-size: 30px;
    color: rgb(231, 43, 43);
}

.listas {
    color: rgb(85, 236, 136);
    padding: 0 0 0 25px;
}

.contenedor{
    width: 30%;
    background: #222;
    border: 5px solid rgb(0, 0, 0);
    text-align: center;
    margin: 50px auto;
    padding: 30px;
}

.contenedor__titulo{
    font-size: 30px;
    display: block;
    margin: 0 0 20px;
}

.tabla{
    width: 100%;
    background: #aaa;
    color: #111;
    text-align: left;
    cursor: default;
    border-collapse: collapse;
    margin: auto;
}

.tabla__cabecera{
    background: rgb(92, 45, 14);
    border-bottom: 5px solid rgb(61, 30, 9);
    font-weight: bold;
}

.tabla__cuerpo tr:hover{
    background: rgb(218, 218, 218);
}

.tabla__celda{
    line-height: 2em;
    padding: 0 .5em;
}